.todo-list {
  padding: 10px 0;
  padding-top: 0;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);

  &-input {
    background-color: black;
  }

  &-title {
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
    padding: 5px 0;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &-content {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-content:hover {
    background-color: black;
  }
}

.no-todos {
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  color: gray;
}
